<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhou.sys.mapper.SysUserMapper">

    <resultMap id="BaseMap" type="com.zhou.sys.model.SysUser">
        <id column="id" property="id"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="email" property="email"/>
        <result column="phone" property="phone"/>
        <result column="sex" property="sex"/>
        <result column="dept_id" property="deptId"/>
        <result column="post_id" property="postId"/>
        <result column="real_name" property="realName"/>
    </resultMap>

    <select id="queryByUsername" resultMap="BaseMap">
        select * from sys_user where username = #{username}
    </select>


</mapper>